# Exercises
- Within your codeup-data-science directory, create a new repo named natural-language-processing-exercises. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

- Save this work in your natural-language-processing-exercises repo. Then add, commit, and push your changes.

- Unless a specific file extension is specified, you may do your work either in a python script (.py) or a jupyter notebook (.ipynb).

- Do your work for this exercise in a file named regex.

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

3. Write a regular expression to capture phone numbers. It should match all of the following:

4. Use regular expressions to convert the dates below to the standardized year-month-day format.

5. Write a regex to extract the various parts of these logfile lines

In [1]:
import pandas as pd
import re

# 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
# creating vowel function

def is_vowel(subject):
    '''
    returns a boolean value asessing if the passed string is a single vowel
    '''
    regexp = '^[aeiouAEIOU]$'
    vowel= re.search(regexp, subject)
    return bool(vowel)

In [3]:
#testing function
subject= 'hello'

is_vowel(subject)

False

In [4]:
#testing function
subject= 'E'

is_vowel(subject)

True

In [5]:
# testing function
assert is_vowel('A') == True
assert is_vowel('e') == True
assert is_vowel('b') == False
assert is_vowel('ee') == False
assert is_vowel('aie') == False
print('Correct!')

Correct!

# 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [6]:
def is_valid_username(string_val):
    '''
    returns a boolean value assessing if the passed string fits the critera of a username:
    starts with a lowercase letter, 
    only consists of lowercase letters, numbers, or the _ character. 
    no longer than 32 characters. 
    '''
    regex = '^[a-z][a-z0-9_]{,31}$'
    return bool(re.search(regex, string_val))

Note: each bracket is one character, {} is a way to include a limit (here it's for 32 characters)

In [7]:
assert is_valid_username('codeup') == True
assert is_valid_username('codeup123') == True
assert is_valid_username("'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'") == False
assert is_valid_username("'1codeup'") == False

print('It is correct')

It is correct

# 3. Write a regular expression to capture phone numbers. It should match all of the following:

In [8]:
#create dataframe
df = pd.DataFrame()
df['number'] = [
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
    '2108675309',
]

In [9]:
phone_regex = re.compile(
'''
^
(?P<country_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
\D*
$
''', re.VERBOSE)

In [10]:
df.number.str.extract(phone_regex)

  country_code area_code exchange_code line_number
0          NaN       210           867        5309
1           +1       210           867        5309
2          NaN       NaN           867        5309
3          NaN       210           867        5309
4          NaN       210           867        5309

In [11]:
pd.concat([df, df.number.str.extract(phone_regex)], axis=1)

            number country_code area_code exchange_code line_number
0   (210) 867 5309          NaN       210           867        5309
1  +1 210.867.5309           +1       210           867        5309
2         867-5309          NaN       NaN           867        5309
3     210-867-5309          NaN       210           867        5309
4       2108675309          NaN       210           867        5309

# 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

In [12]:
lines= """
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
"""

In [13]:
date_list = [
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19']

In [14]:
date_reg = r'(\d+)/(\d+)/(\d+)'
re.sub(date_reg, r'20\3-\1-\2',date_list[0])

'2019-02-04'

In [15]:
[re.sub(date_reg, r'20\3-\1-\2',date) for date in date_list]

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']

# 5. Write a regex to extract the various parts of these logfile lines

In [ ]:
lines= """
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
"""

In [16]:
# method, endpoint, date, protocol, http_status_code, some_number, "user_agent", ip_address

regex = r'''
(?P<method>[A-Z]+)
\s
(?P<path>.*)
\s
\[(?P<timestamp>.*)\]
\s
HTTP/1.1
\s
{(?P<status>\d+)}
\s
(?P<bytes_sent>\d+)
\s
"(?P<user_agent>.*)"
\s+
(?P<ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})
'''

regex = re.compile(regex, re.VERBOSE)

df = pd.DataFrame()
df['line'] = lines.strip().split('\n')
df = pd.concat([df, df.line.str.extract(regex)], axis=1)
df

,line,method,path,timestamp,status,bytes_sent,user_agent,ip
0,GET /api/v1/sales?page=86 [16/Apr/2019:193452+...,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,200,510348,python-requests/2.21.0,97.105.19.58
1,POST /users_accounts/file-upload [16/Apr/2019:...,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET /api/v1/items?page=3 [16/Apr/2019:193453+0...,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,429,3561,python-requests/2.21.0,97.105.19.58